.status-online {
    color: #298100;
}
.status-offline {
    color: #ff0000;
}
.status-error {
    color: orange;
}

#mb-logo {
    position: fixed; /* Change to fixed positioning */
    bottom: 10px;
    right: 10px;
    max-width: 300px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    width: 30%; /* Set width as a percentage of the viewport width */
}

#settings-button {
    position: fixed;
    top: 10px;
    right: 10px;
}

select {
    border: 2px solid #007bff; /* Light blue frame */
    border-radius: 5px; /* Rounded corners */
    padding: 3px; /* Padding inside the dropdown */
    font-size: 14px; /* Font size */
    margin: 4px; /* Margin around the dropdown */
    transition-duration: 0.4s; /* Smooth transition for hover effects */
    font-family: Quicksand;
}

select:hover {
    border-color: #004792; /* Change border color on hover */
}

label {
    font-family: Quicksand;
}

ul {
    font-family: Quicksand;
}

h1 {
    font-family: Quicksand;
}

span {
    font-family: Quicksand;
}

button {
    font-family: Quicksand;
}

#testResultContainer {
    font-family: Quicksand;
}

#testResult {
    font-family: Quicksand;
}