:root {
    --font-family: Quicksand;
    --border-color: #ff5100;
    --border-radius: 5px;
    --padding: 3px;
    --transition-duration: 0.4s;
    --text-align: center;
    
}

body {
    background-color: #ffffff;
    font-family: var(--font-family);
    position: fixed;
    left: 20px;
}

.status-online {
    color: #298100;
}

.status-offline {
    color: #ff0000;
}

.status-error {
    color: orange;
}

#mb-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
    height: auto;
    width: 30%;
}

#settings-button {
    position: fixed;
    top: 10px;
    right: 10px;
}

#h1 {
    text-align: var(--text-align)
}
select, button {
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    font-size: 14px;
    margin: 4px;
    transition-duration: var(--transition-duration);
    font-family: var(--font-family);
}

select:hover, button:hover {
    border-color: #004792;
}

button {
    background-color: #ffffff;
}


#status-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#testResult {
    font-family: Quicksand;
}

#chart-container {
    position: absolute;
    left: 230%;
    top: 140px;
    width: 200%;  /* Adjust as needed */
    height: 200%;  /* Adjust as needed */
    overflow: auto;  /* Add scrollbars if the content is larger than the container */
}
