<!DOCTYPE html>
<html>
<head>
    <title>Bandbreiten Messen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='mb-web-logo.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
        <script type="text/javascript">   
        </script>
    <body>
        <img src="{{ url_for('static', filename='mb-logo.png') }}" alt="MB Logo" id="mb-logo">
        <script src="{{ url_for('static', filename='app.js') }}"></script>

        
        
        <!-- Form for selecting server, port, test duration, protocol, and transport -->
        <form method="post" action="/">

            <h1>Bandbreiten Messen</h1>
                <ul>
                {% for server in servers %}
                    <li>
                        {{ server.name }} (IP: {{ server.ip }}) - <span id="status-{{ loop.index }}">Status: {{ server.status }}</span>
                            <script type="text/javascript">
                                updateStatus('{{ server.ip }}', 'status-{{ loop.index }}');
                            </script>
                    </li>
                {% endfor %}
                </ul>
            
            <div id="status-message">
                <label for="status" id="status-title">Status:</label>
                <span id="status-text">Ready!</span>
            </div>


            <div id="Test-Settings">

                <label for="server">Choose a server:</label>
                <select name="server" id="server">
                    {% for server in servers %}
                    <option value="{{ server.ip }}">{{ server.name }}</option>
                    {% endfor %}
                </select>

                <label for="port">Choose a port:</label>
                <select name="port" id="port">
                    {% for port in ports %}
                    <option value="{{ port }}">{{ port }}</option>
                    {% endfor %}
                </select>

                <div id="duration-container">
                    <label for="duration">Test Duration (seconds):</label>
                        <input type="range" id="duration" name="duration" min="1" max="60" value="10" oninput="updateDurationDisplay(this.value)">
                    <span id="durationValue">10</span> seconds
                </div>

                <label for="protocol">Choose a protocol:</label>
                    <select name="protocol" id="protocol">
                        <option value="tcp">TCP</option>
                        <option value="udp">UDP</option>
                    </select>

                <div id="run-container">
                    <button id="run-button" onclick="runTest()">Run Test!</button>
                </div>
            </div>
    </form>

        <!-- Display test results -->
        <div id="testResultContainer">
            <h2>Test Result</h2>
            <pre id="testResult">{{ test_result }}</pre> <!-- Use the <pre> tag here -->                  
        </div>

        <div id="chart-container">
            <canvas id="bandwidthChart"></canvas>
            <script>
                // Get the bandwidth data from the server
                var bandwidthData = {{ bandwidth_data|tojson|safe }};

                // Create a new line chart
                var ctx = document.getElementById('bandwidthChart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [...Array(bandwidthData.length).keys()],  // Generate labels from 0 to the length of bandwidthData
                        datasets: [{
                            label: 'Bandwidth (Gbits/sec)',
                            data: bandwidthData,
                            borderColor: 'rgb(255, 81, 10)',
                            tension: 0.1
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: 'Time (seconds)'
                                }
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: 'Bandwidth (Gbits/sec)'
                                }
                            }
                        }
                    }
                });
            </script>
        </div>
        <!-- Settings button -->
        <button id="settings-button" onclick="runSettingsProgram()">Open Settings</button>
    </body>
    </html>
    
